
#thumb{
	position:absolute;;
	left:65%;
	top:45%;
	height:150px;
	width:420px;
	background-color:rgba(40,40,40,0.6);
}
#thumbs>li>img{
	cursor:pointer;
	padding-top:5%;
	width:80px;
	height:80px;
}
#thumbs>li{
	list-style-type:none;
	position:relative;
	display:inline;
}
#cool{
	position:relative;
	top:20%;
	left:7%;
	height:500px;
	width:700px;
	border-style:double;
	border-width:3px;
	border-color:rgba(200,200,20,0.6);
}
#heading>p{
	text-align:center;
	font-family:purisa;
	font-size:3em;
	color:rgba(100,10,30,0.5);
	text-shadow:7px 7px 5px black;
}